.box1{
    background-color: #8165654A;
    display: flex;
    justify-content: space-evenly;
    width: 1400px;
}
.Home{
    padding-left: 650px;
}
.container{
    background-color: aqua;
    height: 600px;
    width: 1395px;
    /* margin-left: 50px; */
    flex-direction: row;
}
.text{
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
}
.first-box{
    height: 194px;
    width: 400px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 10px #00000040;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}
.second-box{
    height: 194px;
    width: 400px;
    background-color: #FFFFFF;
    display: flex;
    box-shadow: 10px 10px 10px #00000040;
    justify-content: space-around;
    position: relative;

}
.third-box{
    height: 194px;
    width: 400px;
    background-color: #FFFFFF;
    display: flex;
    box-shadow: 10px 10px 10px #00000040;
    justify-content: space-around;
    position: relative;

}
.container1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
}
.sub-first{
    height: 100px;
    width: 100px;
    background-color: #D9D9D9;
    border-radius: 50%;
    position: relative;
    top: 34px;
}
.sub-1{
    height: 100px;
    width: 200px;
    /* background-color: pink; */
    position: relative;
    top: 34px;
    padding-left: 10px;
}
.sub-second{
    height: 100px;
    width: 100px;
    background-color: #D9D9D9;
    top: 34px;

    position: relative;
    border-radius: 50%;

}
.sub-2{
    height: 100px;
    width: 200px;
    /* background-color: red; */
    position: relative;
    top: 34px;
    padding-left: 10px;

}
.sub-third{
    height: 100px;
    width: 100px;
    background-color: #D9D9D9;
    top: 34px;

    position: relative;
    border-radius: 50%;

}
.sub-3{
    height: 100px;
    width: 200px;
    /* background-color: violet; */
    position: relative;
    display: flex;
    top: 34px;
    padding-left: 10px;

}